<div class="header-container">
  <div class="logo">
    <img src="assets/logo.png" alt="Inventory Logo" height="40" />
  </div>
  <div class="header-title">
    Inventory Management
  </div>
  <div class="header-actions">
    <a class="menu-btn" routerLinkActive="active" routerLink="/products/list" [routerLinkActiveOptions]="{ exact: true}">Products</a>
    <a class="menu-btn" routerLinkActive="active" routerLink="/products/add" [routerLinkActiveOptions]="{ exact: true }">Add</a>
  </div>
</div>